@model List<journalapp.Models.StudentViewModel>
@{
    ViewData["Title"] = "Список Студентов";
}
<form id="stdListForm" method="get">
    <div class="card win">

        <h1> @ViewData["Title"]</h1>

        <div class="card-body">
            <select class="js-example-basic-single" id="group" name="group" asp-for="@SessionInf.CurrentGroupId"  onchange="UpdateStudList()" asp-items="@ViewBag.GroupsDropDown">
            </select>
            <table class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <th>Фамилия</th>
                        <th>Имя</th>
                        <th>Отчество</th>
                        <th>Пол</th>
                        <th>Номер телефона</th>
                        <th>E-mail</th>
                        <th>Примечание</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var student in Model)
                    {
                        @if(!student.IsExpelled)
                        {
                            <tr>
                                <td>@student.Student.Surname</td>
                                <td>@student.Student.Name</td>
                                @if(student.Student.Patronymic!=null)
                                {
                                    <td>@student.Student.Patronymic</td>
                                }
                                else 
                                {
                                    <td></td>
                                }
                                <td>@student.Student.Sex</td>
                                <td>@student.Student.PhoneNum</td>
                                <td>@student.Student.Email</td>
                                @if(student.Student.Note!=null)
                                {
                                    <td>@student.Student.Note</td>
                                }
                                else 
                                {
                                    <td></td>
                                }

                                <td class="text-center">
                                    <div class="btn-group">
                                        <a class="link-secondary mx-1" asp-area="" asp-controller="Student" asp-route-Id="@student.Student.Id" asp-action="Create">Редактировать</a>
                                    </div>
                                </td>
                            </tr>
                        }
                        else
                        {
                            <tr class="text-danger">
                                <td>@student.Student.Surname</td>
                                <td>@student.Student.Name</td>
                                @if(student.Student.Patronymic!=null)
                                {
                                    <td>@student.Student.Patronymic</td>
                                }
                                else 
                                {
                                    <td></td>
                                }
                                <td>@student.Student.Sex</td>
                                <td>@student.Student.PhoneNum</td>
                                <td>@student.Student.Email</td>
                                @if(student.Student.Note!=null)
                                {
                                    <td>@student.Student.Note</td>
                                }
                                else 
                                {
                                    <td></td>
                                }

                                <td class="text-center">
                                    <div class="btn-group">
                                        <a class="link-secondary mx-1" asp-area="" asp-controller="Student" asp-route-Id="@student.Student.Id" asp-action="Create">Редактировать</a>
                                    </div>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>

            <div class="text-right btn-right">
                <a class="btn btn-primary" asp-area="" asp-controller="Student" asp-action="Create">Добавить студента</a>
            </div>
        </div>
    </div>
</form>

 @* <script type="text/javascript">
    $(document).ready(function() {
    $('.js-example-basic-single').attr("lang", "ru").select2();
});
</script>  *@

 <script type="text/jscript">
    function UpdateStudList(){
      debugger;
      const data = $('#studListForm').serialize();
      $.ajax({
        type: 'GET',
        url: '@Url.Action("Create")',
        data: data
      })
      .done(function(){
        $('#stdListForm').submit();

})
};
 </script>

 @* <script type="text/javascript">
      $(".js-example-basic-single").attr("lang", "ru").select2(); 
</script> *@
